.button {
    cursor: pointer;
}

.ico_filter,
.ico_filter::before,
.ico_filter::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #464185;
    position: relative;
    margin: 0 auto;
}

.ico_filter {
    width: 22px;
    top: -5px;
}

.ico_filter::before {
    width: 16px;
    top: 5px;
}

.ico_filter::after {
    width: 10px;
    top: 8px;
}

.ico_arrow,
.ico_arrow::before,
.ico_arrow::after {
    display: block;
    height: 2px;
    background-color: #464185;
}

.ico_arrow {
    position: relative;
    width: 22px;
}

.ico_arrow::before,
.ico_arrow::after {
    content: '';
    position: absolute;

    transform-origin: top left;
}

.ico_arrow::before {
    width: 10px;
    transform: rotate(45deg);

    left: 0;
    top: -.5px;
}

.ico_arrow::after {
    width: 9px;
    transform: rotate(-45deg);

    left: -1px;
    top: .3px;
}

.ico_arrow-right {
    transform: rotate(180deg);
}

.catalog {
    display: flex;
}

.catalog_products {
    width: 70%;
    overflow: hidden;
}

.catalog_products_header,
.catalog_products_filter,
.catalog_products_list ul {
    display: flex;
}

.catalog_products_header {
    margin-bottom: 50px;
}

.catalog_products_filter_name {
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    color: #473889;
}

.catalog_products_filter_select {
    margin-left: 100px;
}

.catalog_products_filter_select .button {
    position: relative;
    border: 0;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: #fff;
    box-shadow: 0 20px 40px #A0BBC8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog_products_filter_select .button:hover {
    box-shadow: inset 0px 0px 5px rgba(158, 158, 158, 0.9);
    animation: linear color 4s infinite;
    background-color: #fff;
}

@keyframes color {
    from {
        background-color: #fff;
    }

    to {
        background-color: #E2F5FD;
    }
}

.catalog_products_filter_select .button:hover .ico_filter,
.catalog_products_filter_select .button:hover .ico_filter:before,
.catalog_products_filter_select .button:hover .ico_filter:after {
    background-color: rgb(0, 0, 0);
    animation: linear color2 2s infinite;
}

@keyframes color2 {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.catalog_products_navigation {
    display: flex;
    margin-left: auto;
}

.catalog_products_navigation .button {
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .3;
}

.catalog_products_navigation .button:not(:last-child) {
    margin-right: 10px;
}

.catalog_products_navigation .button:hover {
    opacity: 1;
}

.catalog_products_list {
    position: relative;
    padding-bottom: 60px;
}

.catalog_products_list ul {
    list-style: none;
}

.catalog_products_list::after {
    content: '';
    display: block;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, transparent 20%, #fff);

    position: absolute;
    top: 0;
    right: 0;
}


.catalog_product {
    padding: 8px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 20px 40px #A0BBC8;
}

.catalog_product:not(:last-child) {
    margin-right: 40px;
}

.catalog_product_thumbnail {
    height: 300px;
    padding: 60px 40px;
    overflow: hidden;
}

.catalog_product_thumbnail img {
    height: 100%;
}

.catalog_product_description {
    position: relative;

    background-color: #E7DDF2;
    border-radius: 30px;
    padding: 25px;
}

.catalog_product_name {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #473889;
    margin-bottom: 5px;
}

.catalog_product_caption {
    font-size: 18px;
    line-height: 22px;
    color: #988FBB;
    margin-bottom: 30px;
}

.catalog_product_price {
    font-size: 20px;
    line-height: 24px;
    color: #413382;
}

.catalog_product_description .button_cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 20px 40px #A0BBC8;
    overflow: hidden;
}

.catalog_product_description .button_cart span:before {
    content: '\FF0B';
    /* content: '+';  в таком случае жирный + получается*/
    font-size: 30px;
}

.catalog_product_description .button_cart span:after {
    content: url(/images/ico_cart2.png);
    position: absolute;
    top: 7px;
    left: -30px;
    transition: all 200ms ease;
}

.button_cart:hover span:before {
    content: '';
}

.button_cart:hover span:after {
    left: 11px;
}

.button_cart:active span:after {
    content: url(/images/ico_cart3.png);
}

.catalog_product:hover .catalog_product_description {
    background-color: #776FC3;
}

.catalog_product:hover .catalog_product_name,
.catalog_product:hover .catalog_product_caption,
.catalog_product:hover .catalog_product_price,
.catalog_product:hover .button_cart:before {
    color: #fff;
}

.catalog_product:hover .button_cart {
    background-color: #574A97;
    box-shadow: none;
}

.button_cart:hover .catalog_product .button_cart {
    background-color: #ffff;
}

/* Accessories */

.catalog_accessories {
    width: 30%;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
}

.catalog_accessories_header {
    padding: 20px 0;
    padding-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #473889;
    margin-bottom: 50px;

}

.catalog_accessories_list {
    padding-bottom: 60px;
}

.catalog_accessories_list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog_accessory {
    display: flex;
    border: 1px solid #E7E7E7;
    border-radius: 40px;
    padding: 30px 20px;
    width: calc(90% - 40px);
    margin-left: auto;
    justify-content: space-around;
}

.catalog_accessory_block {
    cursor: pointer;
}

.catalog_accessory_block:not(:last-child) {
    margin-bottom: 25px;
}

.catalog_accessory_price {
    display: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding: 5px 8px;
    background-color: #574A97;
    border-radius: 40px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.catalog_accessory_thumbnail {
    width: 120px;
    height: 120px;
    background-color: #EBE5F4;
    border-radius: 50%;
    position: relative;
}

.catalog_accessory_block:first-child .catalog_accessory_thumbnail {
    background-color: #FFE3E3;
}

.catalog_accessory_block:last-child .catalog_accessory_thumbnail {
    background-color: #E5F6FF;
}

.catalog_accessory_thumbnail img {
    width: 120%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.catalog_accessory_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog_accessory_name {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #473889;
}

.catalog_accessory_caption {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #5E5875;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.catalog_accessory_block:hover .catalog_accessory {
    border: 1px solid #776FC3;
    background-color: #776FC3;
    width: calc(100% - 40px);
}

.catalog_accessory_block:hover .catalog_accessory_price {
    display: block;
}

.catalog_accessory_block:hover .catalog_accessory_name,
.catalog_accessory_block:hover .catalog_accessory_caption {
    color: #fff;
}